*.sublime-workspace
*.exe
*.log
BuildPackages/*.nupkg
*.nupkg
Test.xml
Bootstrapper/*-UAC.ps1
Bootstrapper/*-BoxstarterMessage.ps1
Helpers/*-BoxstarterMessage.ps1
Helpers/*-TimedSection.ps1
Bootstrapper/*-TimedSection.ps1
BuildArtifacts
obj
bin
*.user
*.suo
Boxstarter.Chocolatey/Boxstarter.zip
Packages
