<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <rewrite>
      <rules>
        <clear />
        <rule name="LaunchPackageInstall" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/?$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Redirect" url="launch/Boxstarter.WebLaunch.Application?{R:1}={R:2}"/>
        </rule>
        <rule name="RewriteToPublic" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)"/>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>