<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <rewrite>
      <rules>
        <clear />
        <rule name="RewriteToPublic" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)"/>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>