@{
    Layout = "~/_ContentLayout.cshtml";
}

@section headerBody {
    <h1>Other Boxstarter Resources</h1>
}

<h3>Reporting Bugs</h3>
<p>Please report any bugs you experience on the <a href="https://boxstarter.codeplex.com/workitem/list/basic">boxstarter issues page</a>. please provide a copy of $env:localappdata\boxstarter\boxstarter.log. if the install was run on a remote instance, the logs on both the remote computer and the computer from where the install was run should be sent. the install logs of any specific application causing problems is also helpful.</p>

<h3>Discussing Features</h3>
<p>General discussions regarding either upcoming or existing Boxstarter features can be discussed on the <a href="https://boxstarter.codeplex.com/discussions">boxstarter discussion page</a> hoted at codeplex.com.</p>

<h3>Source Code</h3>
<p>Boxstarter is fully Open Source licensed under the <a href="/license">Apache 2 license</a>. Source code can be <a href="https://boxstarter.codeplex.com/SourceControl/latest">viewed from codeplex</a> or one may prefer to clone the repository using git.</p>
<pre>
git clone https://git01.codeplex.com/boxstarter
</pre>    
<p>Contributions to boxstarter in the form of pull requests are welcome!</p>