@{
    Layout = "~/_ContentLayout.cshtml";
}

@section headerBody {
    <h1>Installing Packages</h1>
    <p class="lead">Boxstarter can install packages either from a local Boxstarter Repo, a network share or external media, or it can "push" an installation to a remote machine.</p>
}

<h3>Install Packages with just a URL</h3>
<p>For simple scenarios aimed at installing a single script, you do not need ANY Boxstarter modules installed to invoke a Boxstarter Installation. You can initiate an installation <a href="Weblauncher">from an easy to remember URL</a> and Boxstarter will install on its own.</p>

<h3>Install-BoxstarterPackage</h3>
<p>To kick off a Boxstarter installation session, use the <code>Install-BoxstarterPackage</code> command.</p>
<pre>
$cred=Get-Credential domain\username
Install-BoxstarterPackage -PackageName MyPackage -Credential $cred
</pre>
<p>This will install the MyPackage package locally and use the credentials given for any auto login needed after a reboot.</p>
<p>There may be times when you either know that no reboot will be needed or you want to ensure that none takes place. To tell Boxstarter not to perform any reboots even if a pending reboot is detected, use the <code>-DisableReboots</code> argument.</p>
<pre>
Install-BoxstarterPackage -PackageName MyPackage -DisableReboots
</pre>
<p>Since no reboot wil be performed, the credential is unnecesary.</p>

<h3>Running an Install from a network share or external media</h3>
<p>You may want to place the Boxstarter modules and local repo on a network share so that others on your network can invoke Boxstarter installs with nothing installed. Or you may want to save them on a thumb drive, SD, or Micro SD card so you can always have Boxstarter and your packages handy. Boxstarter provides a batch file wrapper that can be called to facilitate these scenarios.</p>
<pre>
Copy-Item $Boxstarter.BaseDir G:\ -Recurse
e:\BoxstarterDir\Boxstarter example
</pre>

<p>Boxstarter's Base Directory (<code>$Boxstarter.BaseDir</code>) is copied to e:\BoxstarterDir, then Boxstarter.bat is called which will:</p>
<ul>
    <li>Bypass the user's execution policy nd ensure that Boxstarter scripts can run</li>
    <li>Import the Boxstarter Modules</li>
    <li>Invoke a Boxstarter installation of the example package</li>
    <li>Will prompt the user for their password to use during reboots</li>
</ul>
<img src="Images/console.png"/>

<h3>Creating a Boxstarter Share</h3>
<p>As stated already, Boxsarter and its local repo can exist on a network share. Boxstarter provides a command that will share the directory where Boxstarter exists.</p>
<pre>
Set-BoxstarterShare BoxShare
</pre>
<p>This simply creates a network share named BoxShare pointing to the local Boxstarter base directory. Now users simply call:</p>
<pre>
\\mycomputer\BoxShare\Boxstarter MyPackage
</pre>

<h3>Remote Installations</h3>
<p>Maybe you dont want to share with others but would rather like to "push" installations to remote machines and VMs. Well that is now possible with Boxstarter! Boxstarter handles almost all of the remoting details so that installing a package remotely is practically no different from doing so locally.</p>
<h4>Enabling Powershell remoting on the target machine</h4>
<p>In some cases you may not have to do this. If your machine is on a domain where group policy settings automatically enable Powershell Remoting or even just WMI, Boxstarter may be able to do this for you. If you are unsure, enabling it manually will not cause any harm and it is easy.</p>
<p>Open a Powershell window as administrator on the target machine and simply run:</p>
<pre>
Enable-PSRemoting -Force
</pre>
<h4>Invoking from the local machine</h4>
<p>Now on your machine where Boxstarter is installed:</p>
<pre>
$cred=Get-Credential=MyTargetMachine\myusername
Install-BoxstarterPackage -ComputerName MyTargetMachine -Package MyPackage -Credential $cred
</pre>
<p>Boxstarter will use the credential to connect to MyTargetMachine and will copy the Boxstarter modules and your LocalRepo packages to its local storage. It will then run the package on that machine. Boxstarter will configure your local machine to be able to connect to the remote machine and it may prompt you for permission to change settings. You can always provide the -Force parameter to silence the prompts.</p>
<p>Here is a screen shot of Boxstarter installing a Minecraft Server (bukkit) on a AWS EC2 instance:</p>
<img src="Images/amazon.png"/>