<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="LaunchPackageInstall" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="launch/Boxstarter.WebLaunch.Application?{R:1}={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

</configuration>
