@{
    Layout = "~/_ContentLayout.cshtml";
}

@section headerBody {
    <h1>Other Boxstarter Resources</h1>
}

<h3>Reporting Bugs</h3>
<p>Please report any bugs you experience on the <a href="https://github.com/chocolatey/boxstarter/issues">Boxstarter issues page</a>. Please provide a copy of $env:localappdata\boxstarter\boxstarter.log. If the install was run on a remote instance, the logs on both the remote computer and the computer from where the install was run should be sent. The install logs of any specific application causing problems is also helpful.</p>

<h3>Discussing Features</h3>
<p>General discussions regarding either upcoming or existing Boxstarter features can be discussed on the <a href="https://groups.google.com/forum/#!forum/boxstarter">Boxstarter Google Groups forum</a>.</p>

<h3>Source Code</h3>
<p>Boxstarter is fully Open Source licensed under the <a href="/license">Apache 2 license</a>. Source code can be <a href="https://github.com/chocolatey/boxstarter">viewed from Github</a>, or one may prefer to clone the repository using git.</p>
<pre>
git clone https://github.com/chocolatey/boxstarter
</pre>
<p>Contributions to Boxstarter in the form of pull requests are welcome!</p>

<h3>Nuget.org Documentation</h3>
<p>The <a href="https://docs.nuget.org">nuget.org documentation site</a> provides lots of information about the Nuget package specification and the Nuget command line tool used by Chocolatey.</p>

<h3>Chocolatey.org Wiki</h3>
<p>The <a href="https://github.com/chocolatey/choco/wiki">Chocolatey.org wiki</a> provides complete documentation on all of its commands for both consuming and creating Chocolatey packages.</p>
