@{
    Layout = "~/_ContentLayout.cshtml";
}

@section headerBody {
    <h1>Other Boxstarter Resources</h1>
}

<h3>Reporting Bugs</h3>
<p>Please report any bugs you experience on the <a href="https://github.com/chocolatey/boxstarter/issues">Boxstarter issues page</a>. Please provide a copy of $env:localappdata\boxstarter\boxstarter.log. If the install was run on a remote instance, the logs on both the remote computer and the computer from where the install was run should be sent. The install logs of any specific application causing problems is also helpful.</p>

<h3>Discussing Features</h3>
<p>General discussions regarding either upcoming or existing Boxstarter features can be discussed on the <a href="https://groups.google.com/forum/#!forum/boxstarter">Boxstarter Google Groups forum</a>.</p>

<h3>Source Code</h3>
<p>Boxstarter is fully Open Source licensed under the <a href="/license">Apache 2 license</a>. Source code can be <a href="https://github.com/chocolatey/boxstarter">viewed from Github</a>, or one may prefer to clone the repository using git.</p>
<pre>
git clone https://github.com/chocolatey/boxstarter
</pre>
<p>Contributions to Boxstarter in the form of pull requests are welcome!</p>

<h3>NuGet.org Documentation</h3>
<p>The <a href="https://docs.nuget.org">nuget.org documentation site</a> provides lots of information about the NuGet package specification and the NuGet command line tool used by Chocolatey.</p>

<h3>Chocolatey.org Wiki</h3>
<p>The <a href="https://github.com/chocolatey/choco/wiki">Chocolatey.org wiki</a> provides complete documentation on all of its commands for both consuming and creating Chocolatey packages.</p>

<h3>Community Blog Posts and Articles</h3>

<ul>
    <li><a href="https://kevenaar.name/unattended-installation-of-veeam-using-boxstarter-part-1-preparations/">Unattended installation of Veeam using Boxstarter - Part 1 - Preparations</a>, <a href="https://kevenaar.name/unattended-installation-of-veeam-using-boxstarter-part-2-vbo/">Part 2 - VBO</a>, <a href="https://kevenaar.name/unattended-installation-of-veeam-using-boxstarter-part-3-vbr/">Part 3 - VBR</a> [March 2020]</li>
    <li><a href="https://kevenaar.name/installing-sql-server-using-boxstarter-and-chocolatey/">Installing SQL Server using Boxstarter and Chocolatey</a> [March 2020]</li>
    <li><a href="https://dev.to/kasuken/from-a-windows-10-clean-installation-to-a-dev-environment-in-30-minutes-with-boxstarter-41n2">From a Windows 10 clean installation to a Dev Environment in 30 minutes with Boxstarter</a> [November 2019]</li>
    <li><a href="https://akrabat.com/first-steps-with-windows-on-vagrant/">First steps with Windows on Vagrant</a> [November 2019]</li>
    <li><a href="https://searchitoperations.techtarget.com/tutorial/Automate-Windows-configurations-with-Boxstarter-and-Chocolatey">Automate Windows configurations with Boxstarter and Chocolatey [April 2019]</li>
    <li><a href="https://www.ghostinthewires.co.uk/automating-windows-environments-setup-with-boxstarter-and-chocolatey-packages/">Automating Windows environments setup with Boxstarter and Chocolatey packages</a> [February 2019]</li>
    <li><a href="https://blog.ansonbiggs.com/create-a-backup-of-your-chocolatey-packages-using-boxstarter/">Create a Backup of your Chocolatey Packages using Boxstarter</a> [February 2019]</li>
    <li><a href="https://philchuang.com/boxstarter-guide-for-windows-development-2018-edition">Boxstarter guide for Windows development, 2018 edition</a> [December 2018]</li>
    <li><a href="https://www.youtube.com/watch?v=ekM7cJXsHHs">How To Install Boxstarter [YouTube Video]</a> [October 2018]</li>
    <li><a href="https://mspoweruser.com/microsoft-to-dramatically-simplify-setting-up-dev-machines-using-chocolatey-and-boxstarter/">Microsoft to dramatically simplify setting up dev machines using Chocolatey and Boxstarter</a> [May 2018]</li>
    <li><a href="https://joshuachini.com/2017/10/27/automated-setup-of-a-windows-environment-using-boxstarter-and-powershell/">Automated Setup of a Windows Environment Using Boxstarter and PowerShell</a> [October 2017]</li>
    <li><a href="https://blog.codybunch.com/2017/04/10/Building-a-Windows-Domain-with-PowerShell/">Building a Windows Domain with BoxStarter</a> [April 2017]</li>
    <li><a href="https://skatterbrainz.wordpress.com/2016/12/19/building-an-sccm-1606-site-server-with-boxstarter-windows-server-2016-sql-server-2016/">Building an SCCM 1606 Site Server with BoxStarter, Windows Server 2016, SQL Server 2016</a> [December 2016]</li>
    <li><a href="https://zimmergren.net/automating-software-installations-with-boxstarter-and-chocolatey/">Automating Software Installations with Boxstarter and Chocolatey</a> [February 2016]</li>
    <li><a href="https://xenappblog.com/2015/getting-started-with-chocolatey-and-boxstarter/">Getting Started with Chocolatey and Boxstarter</a> [August 2015]</li>
    <li><a href="https://devblogs.microsoft.com/cesardelatorre/automating-windows-environments-setup-with-boxstarter-and-chocolatey-packages/">Automating Windows environments’ setup with Boxstarter and Chocolatey packages</a> [January 2015]</li>
    <li><a href="https://www.jamessturtevant.com/posts/Chocolatey-And-Boxstarter/">Chocolatey and Boxstarter</a> [December 2014]</li>
</ul>

<h3>Community Tools, Scripts and Code</h3>

<ul>
    <li><a href="https://github.com/mkevenaar/veeam-boxstarter">Veeam Boxstarter templates</a></li>
    <li><a href="https://supermarket.chef.io/cookbooks/boxstarter">Chef Boxstarter Cookbook</a></li>
</ul>
