@{
    Layout = "~/_SiteLayout.cshtml";
}

@section featured {
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="images/boxlogo.png" />
            </div>
            <div class="col-sm-8">
                <h1>Boxstarter</h1>
                <p>Repeatable, <span class="text-primary"><b>reboot resilient</b></span> windows environment installations made easy using <a href="https://chocolatey.org">Chocolatey</a> packages. When its time to repave either <span class="text-primary"><b>bare metal or virtualized</b></span> instances, locally or on a <span class="text-primary"><b>remote machine</b></span>, Boxstarter can automate both trivial and highly complex installations. Compatible with all Windows versions from <span class="text-primary"><b>Windows 7/2008 R2 forward</b></span>.</p>
                <p><a class="btn btn-primary btn-lg" role="button" href="downloads/Boxstarter.@(Helper.Version()).zip"><span class="glyphicon glyphicon-cloud-download"></span> Download v@(Helper.Version())</a></p>
            </div>
        </div>
    </div>
</div>
}

<div class="row">
    <div class="col-md-4">
        <h2><a href="WhyBoxstarter">Why Boxstarter?</a></h2>
        <p>Checkout the features that Boxstarter provides on top of Chocolatey to ensure 100% uninterrupted Windows environment installs.</p>

        <h2><a href="/InstallingPackages#RemoteInstallations">Run Remotely</a></h2>
        <p>Need to install a bunch of machines or repeatedly setup a VM? Invoke Boxstarter commands to install environments on remote machines. Supports all VM technologies and <a href="/VMIntegration">deep integration with Hyper-V and Windows Azure VMs.</a></p>
    </div>
    <div class="col-md-4">
        <h2><a href="~/Learn/WebLauncher">Store Configs in a Gist</a></h2>
        <p>You can use Boxstarter to install a complete environment or install a small set of tools and windows settings with absolutely no software pre installed and configuration scripts stored in a gist.</p>

        <h2><a href="/CreatingPackages">Simplify Package Creation</a></h2>
        <p>Boxstarter composes an environment using <a href="https://chocolatey.org">Chocolatey</a> style <a href="https://nuget.org">NuGet</a> Packages. Boxstarter provides commands to make package authoring, testing and publishing a snap.</p>
    </div>
    <div class="col-md-4">
        <h2>Boxstarter, The Movie</h2>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/sgzVTG-zIPE?vq=hd1080" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
