@{
    Layout = "~/_ContentLayout.cshtml";
}

@section headerBody {
    <h1>Installing Boxstarter</h1>
    <p class="lead">Boxstarter can be installed using <a href="https://chocolatey.org">Chocolatey</a> or by downloading the Boxstarter zip file and running Setup.Bat</p>
}

<h3>Prerequisites</h3>
<p>Boxstarter requires the following to work:</p>
<ul>
    <li>OS: Windows 7 or Windows Server 2008 R2 and higher</li>
    <li>PowerShell Version 2 or higher</li>
    <li>Administrative privileges on the machine where Boxstarter is running</li>
</ul>

<h3>Installing from Chocolatey</h3>
<pre>
CINST Boxstarter
</pre>
<img class="img-responsive" src="images\installed.png" />
<p>This will download and install the Boxstarter modules to your PSModulePath.</p>
<h3>Downloading the zip file</h3>
<p>The zip file contains a Setup.Bat file that will go to Chocolatey and install Boxstarter. If Chocolatey is not installed on your machine, the Boxstarter installer will request the user's permission to install it. Note: Setup.bat accepts a <code>-Force</code> argument to suppress this prompt.</p>
<img class="img-responsive" src="Images/setup.png"/>
<p>Boxstarter is now installed in your modules path!</p>

<p>Both the Chocolatey Boxstarter package and the downloaded zip file available on this website install all Boxstarter modules except the Boxstarter.Azure module which provides integration with Windows Azure VMs. You can install the Azure module by running <code>CINST Boxstarter.Azure</code>. In addition to the Boxstarter.Azure module, it also installs the Windows Azure PowerShell toolkit, the Azure SDK for .Net Libraries and .Net 4.5. It requires PowerShell 3 or higher (the version installed with Windows 8/server 2012 and higher but also <a href="https://www.microsoft.com/en-us/download/details.aspx?id=40855">freely available for download</a> on older versions) to install successfully.</p>

<p>After Boxstarter is installed, a new PowerShell console must be opened before you can load the modules and run its commands. For convenience you can use the <a href="/UsingBoxstarter">Boxstarter Shell</a> for running Boxstarter commands which is the easiest way to ensure that all Boxstarter modules are properly loaded regardless of the version of Windows and PowerShell you are running.</p>

<h3>Installing from the web</h3>
<p>Run the following command from PowerShell:</p>
<pre>
Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://boxstarter.org/bootstrapper.ps1')); Get-Boxstarter -Force
</pre>

<h2>Uninstalling Boxstarter</h2>

<p>If you need to remove Boxstarter from your system, run code below in a PowerShell console:</p>

<pre>
# Remove the Chocolatey packages in a specific order!
'Boxstarter.Azure', 'Boxstarter.TestRunner', 'Boxstarter.WindowsUpdate', 'Boxstarter',
    'Boxstarter.HyperV', 'Boxstarter.Chocolatey', 'Boxstarter.Bootstrapper', 'Boxstarter.WinConfig', 'BoxStarter.Common' |
    ForEach-Object { choco uninstall $_ -y }

# Remove the Boxstarter data folder
Remove-Item -Path (Join-Path -Path $env:ProgramData -ChildPath 'Boxstarter') -Recurse -Force

# Remove Boxstarter from the path in both the current session and the system
$env:PATH = ($env:PATH -split ';' | Where-Object { $_ -notlike '*Boxstarter*' }) -join ';'
[Environment]::SetEnvironmentVariable('PATH', $env:PATH, 'Machine')

# Remove Boxstarter from the PSModulePath in both the current session and the system
$env:PSModulePath = ($env:PSModulePath -split ';' | Where-Object { $_ -notlike '*Boxstarter*' }) -join ';'
[Environment]::SetEnvironmentVariable('PSModulePath', $env:PSModulePath, 'Machine')
</pre>

Boxstarter installs <a href="https://chocolatey.org">Chocolatey</a> and this needs to be <a href="https://docs.chocolatey.org/en-us/choco/uninstallation">uninstalled</a> separately.
