@{
    Layout = "~/_ContentLayout.cshtml";
}

@section headerBody {
    <h1>Installing Packages</h1>
    <p class="lead">Boxstarter can install packages either from a local Boxstarter Repository, a network share or external media, or it can "push" an installation to a remote machine.</p>
}

<h3>Install-BoxstarterPackage</h3>
<p>To kick off a Boxstarter installation session, use the <code>Install-BoxstarterPackage</code> command.</p>
<pre>
$cred=Get-Credential domain\username
Install-BoxstarterPackage -PackageName "MyPackage1","MyPackage2" -Credential $cred
</pre>
<p>This will install the MyPackage1 and MyPackage2 packages locally and use the credentials given for any auto login needed after a reboot.</p>
<p>There may be times when you either know that no reboot will be needed or you want to ensure that none take place. To tell Boxstarter not to perform any reboots, even if a pending reboot is detected, use the <code>-DisableReboots</code> argument.</p>
<pre>
Install-BoxstarterPackage -PackageName "MyPackage1","MyPackage2" -DisableReboots
</pre>
<p>Since no reboot will be performed, the credential is unnecessary.</p>

<h3>Reinstall Logic</h3>
<p>If you are familiar with Chocolatey, you know that Chocolatey will check if a package has been previously installed and will skip the installation if there is already a install for that same package. Boxstarter changes this logic just a bit depending on whether or not one or multiple packages are provided to Install-BoxstarterPackage or the Boxstarter URL. If just one package is provided, Boxstarter will always attempt to re-download and install the package regardless of whether it had been previously installed. Its important to note this only applies to the "outer" package. If your package includes calls to <code>CINST</code>, those packages will abide by the normal Chocolatey install rules and will not be installed if they already exist in the Chocolatey lib folder. Furthermore, when you supply multiple packages to Boxstarter's command line or URL, it will skip installation for packages already installed.</p>

<h3>Installing a package without a package</h3>
<p>As mentioned previously on <a href="/CreatingPackages">Creating Packages</a>, you may not need to create a package. If your install script is limited to a single script file, you can use a file path or URL to a script and Boxstarter will create a package on the fly using this script as the ChocolateyInstall.ps1.</p>
<pre>
Install-BoxstarterPackage -PackageName https://gist.github.com/mwrock/8066325/raw/e0c830528429cd68a8c71dbff6f48298576d8d20/gistfile1.txt
</pre>
<p>This will download the script in the raw text gist and create a NuGet package using the script as the ChocolateyInstall.ps1. If the script is in a file accessible to Boxstarter, one can pass the path to the file as the -PackageName parameter.</p>

<h3>Understanding and controlling installation output</h3>
<h4>Pipeline Output</h4>
<p>For each machine that Boxstarter installs (see <a href="#RemoteInstallations">below</a> for remote installation details) an object is emitted to the PowerShell pipeline containing details about the install:</p>
<pre>
Errors       : {}
ComputerName : localhost
Completed    : True
FinishTime   : 11/30/2013 1:56:36 AM
StartTime    : 11/30/2013 1:56:20 AM
</pre>
<p>The properties included in the pipeline output are:</p>
<ul>
    <li><b>ComputerName:</b> The name of the computer where the package was installed</li>

    <li><b>StartTime:</b> The time that the installation began</li>

    <li><b>FinishTime:</b> The time that Boxstarter finished the installation</li>

    <li><b>Completed:</b> True or False indicating if Boxstarter was able to complete the installation without a terminating exception interrupting the install. Even if this value is True, it does not mean that all components installed in the package succeeded. Boxstarter will not terminate an installation if individual Chocolatey packages fail. Use the Errors property to discover errors that were raised throughout the installation.</li>

    <li><b>Errors:</b> An array of all errors encountered during the duration of the installation.</li>
</ul>
<h4>Increasing Console Output Verbosity</h4>
<p>Boxstarter tries to strike the right balance of information provided to the command console. However if you want more detailed output, use the <code>-Verbose</code> parameter of <code>Install-BoxstarterPackage</code> command.</p>
<h4>Silencing Console Output</h4>
<p>You can completely silence all console host output by setting Boxstarter's SuppressLogging property to true.</p>
<pre>
$Boxstarter.SuppressLogging=$True
Install-BoxstarterPackage -PackageName MyPackage -DisableReboots
Errors       : {}
ComputerName : localhost
Completed    : True
FinishTime   : 11/30/2013 1:56:36 AM
StartTime    : 11/30/2013 1:56:20 AM
</pre>
<p>The only output now is what is sent to the pipeline. You can hide this by capturing it in a variable</p>
<pre>
$result=Install-BoxstarterPackage -PackageName MyPackage -DisableReboots
</pre>
<p>or piping it to $null.</p>
<pre>
Install-BoxstarterPackage -PackageName MyPackage -DisableReboots | Out-Null
</pre>
<h4>Boxstarter Log File</h4>
<p>Boxstarter always logs verbose output to <code>$Boxstarter.Log</code> which is usually located at $env:LocalAppData\Boxstarter\Boxstarter.log. Installations on remote machines will produce a log file at this location on the remote machine and the local log file will contain just the messages that ran locally.</p>
<h3 id="InstallFromShare">Running an Install from a network share or external media</h3>
<p>You may want to place the Boxstarter modules and local repo on a network share so that others on your network can invoke Boxstarter installs with nothing installed. Or you may want to save them on a thumb drive, SD, or Micro SD card so you can always have Boxstarter and your packages handy. Boxstarter provides a batch file wrapper that can be called to facilitate these scenarios.</p>
<pre>
Copy-Item $Boxstarter.BaseDir E:\ -Recurse
E:\BoxstarterDir\Boxstarter example
</pre>

<p>Boxstarter's Base Directory (<code>$Boxstarter.BaseDir</code>) is copied to e:\BoxstarterDir, then Boxstarter.bat is called which will:</p>
<ul>
    <li>Bypass the user's execution policy and ensure that Boxstarter scripts can run</li>
    <li>Import the Boxstarter Modules</li>
    <li>Invoke a Boxstarter installation of the example package</li>
    <li>Will prompt the user for their password to use during reboots</li>
</ul>
<img src="Images/console.png"/>

<h3>Creating a Boxstarter Share</h3>
<p>As stated already, Boxstarter and its local repository can exist on a network share. Boxstarter provides a command that will share the directory where Boxstarter exists.</p>
<pre>
Set-BoxstarterShare BoxShare
</pre>
<p>This simply creates a network share named BoxShare pointing to the local Boxstarter base directory. Now users simply call:</p>
<pre>
\\mycomputer\BoxShare\Boxstarter MyPackage
</pre>

<h3 id="RemoteInstallations">Remote Installations</h3>
<p>Maybe you don't want to share with others, but would rather like to "push" installations to remote machines and VMs. Well that is now possible with Boxstarter! Boxstarter handles almost all of the Remoting details so that installing a package remotely is practically no different from doing so locally.</p>
<h4>Enabling PowerShell Remoting on the target machine</h4>
<p>In many cases you may not have to do this. If your machine is on a domain where group policy settings automatically enable PowerShell Remoting or even just WMI, Boxstarter can do this for you. Also, if you are using the built-in administrator account on a Windows server OS, it will likely already be configured for remoting. If you are unsure, enabling it manually will not cause any harm and it is easy.</p>
<p>Open a PowerShell window as administrator on the target machine and simply run:</p>
<pre>
Enable-PSRemoting -Force
</pre>
<p>NOTE: If you are installing a Boxstarter install on a Hyper-V VM from a Hyper-V host machine, using the Boxstarter.HyperV module's <code>Enable-BoxstarterVM</code> command will configure the VM remote connectivity for you if needed. See <a href="VMIntegration">Installing packages on a Virtual Machine</a> for details.</p>
<h4>Invoking from the local machine</h4>
<p>Now on your machine where Boxstarter is installed:</p>
<pre>
$cred=Get-Credential 'MyTargetMachine\myusername'
Install-BoxstarterPackage -ComputerName MyTargetMachine -PackageName MyPackage -Credential $cred
</pre>
<p>Boxstarter will use the credential to connect to MyTargetMachine and will copy the Boxstarter modules and your Local Repository packages to its local storage. It will then run the package on that machine. Boxstarter will configure your local machine to be able to connect to the remote machine and it may prompt you for permission to change settings. You can always provide the -Force parameter to silence the prompts and allow boxstarter to freely enable remoting if it is not already enabled.</p>
<p>Here is a screen shot of Boxstarter installing a Minecraft Server (bukkit) on a AWS EC2 instance:</p>
<img src="Images/amazon.png"/>
<p>You can pipe several computer names, URIs or Windows PowerShell sessions to <code>Install-BoxstarterPackage</code>. Boxstarter will attempt to install the package on each machine and return a PSObject result for each machine.</p>
<pre>
$cred=Get-Credential 'MyTargetMachine\myusername'
$result = "thing1","thing2" | Install-BoxstarterPackage -PackageName MyPackage -Credential $cred
$result

Errors       : {}
ComputerName : thing1
Completed    : True
FinishTime   : 11/30/2013 1:56:36 AM
StartTime    : 11/30/2013 1:56:20 AM

Errors       : {}
ComputerName : thing2
Completed    : True
FinishTime   : 11/30/2013 1:56:58 AM
StartTime    : 11/30/2013 1:56:36 AM
</pre>

<h3>Using BoxstarterConnectionConfig objects</h3>
<p>If you have multiple machines you want to install but they require different credentials, use a BoxstarterConnectionConfig. This class contains a ComputerName and a PSCredential property that you can set and pipe to <code>Install-BoxstarterPackage</code>.</p>
<pre>
$cred1=Get-Credential 'MyTargetMachine\myusername'
$cred2=Get-Credential 'Domain\myDomainUser'
$result = (new-Object -TypeName BoxstarterConnectionConfig -ArgumentList machine1,$cred1),`
    (new-Object -TypeName BoxstarterConnectionConfig -ArgumentList machine2,$cred2) |
    Install-BoxstarterPackage -PackageName MyPackage
</pre>
<h3>Troubleshooting Remote Installations</h3>
<h4>Establishing remote connections with servers not on the local subnet</h4>
<p>By default,  server versions of Windows have a firewall rule restricting traffic that is not on the local subnet. There may be circumstances where you might want to connect over the public Internet to another machine. This can be done by manually enabling the "WINRM-HTTP-In-TCP-PUBLIC" firewall rule using the Powershell 3.0 <code>Set-NetFirewallRule</code> or the command line <code>netsh advfirewall</code> command.</p>
<p>Client versions of Windows will only allow PSRemoting on Private and Domain networks. Clients on PowerShell 3.0 and higher can provide the <code>-SkipNetorkProfileCheck</code> to Enable-PSRemoting to allow connections to public computers on the local subnet. Boxstarter uses this parameter when enabling Remoting on clients. Like with Server versions, you can enable a firewall rule to work around the local subnet restriction. </p>
<p>Windows 7 OSs running PowerShell 2.0 can not enable PSRemoting when on a public network connection. You will need to change your connection type to a private or Domain based connection.</p>

<h4>CredSSP and Access Exceptions when referencing network resources</h4>
<p>
When establishing a remote connection, Boxstarter uses CredSSP authentication so that the session can access any network resources normally accessible to the Credential. If necessary, Boxstarter configures CredSSP authentication on both the local and remote machines as well as the necessary Group Policy and WSMan settings for credential delegation. When the installation completes, Boxstarter rolls back all settings that it changed to their original state.

When using a Windows PowerShell session instead of ComputerName or ConnectionURI, Boxstarter will use the authentication mechanism of the existing session and will not configure CredSSP if the session provided is not using CredSSP. If the session is not using CredSSP, it may be denied access to network resources normally accessible to the Credential being used. If you do need to access network resources external to the session, you should use CredSSP when establishing the connection.
</p>

<h4>Installation Failures</h4>
<p>Remote installations performed via PowerShell Remoting can sometimes fail. The symptoms of such failures can manifest themselves in a variety of ways and do not fail in a consistent manner. Boxstarter makes great effort to ensure the success of remote installs by leveraging scheduled tasks when it sees certain install activities. Boxstarter intercepts all calls to MSIEXEC, DISM (Installer for "Windows Features") and Windows Update. It is possible for more involved installation scripts to perform these operations in such a way that Boxstarter will not be able to intercept. If you suspect that your installation is failing due to using a remote session, you can use Boxstarter's <code>Invoke-FromTask</code> command to manually wrap your install in a scheduled task and thereby use a Local token.</p>
<pre>
Invoke-FromTask "DISM /Online /NoRestart /Enable-Feature:TelnetClient" -IdleTimeout 20
</pre>
<p>This will run the DISM command to install the Telnet client in a scheduled task, and will kill the process if it becomes idle for more than 20 seconds. The scheduled task will always run with elevated privileges and be invoked immediately. If the same user whose credentials created the task is logged on to an active session, the scheduled task will run interactively on the remote machine. All console output from the scheduled task will be intercepted by Boxstarter and rendered to the user's console.</p>
