@{
    Layout = "~/_ContentLayout.cshtml";
}

@section headerBody {
    <h1>Publishing Boxstarter Packages</h1>
    <p class="lead">How to make your packages discoverable to Boxstarter and possibly share them with others
}

<p>There are several options available as to where to publish your packages:</p>
<ul>
    <li>Keep them in your local Boxstarter repository</li>
    <li>Push them to a public NuGet feed like <a href="https://chocolatey.org/packages">Chocolatey.org</a>, or any other public feed</li>
    <li>Push to a private NuGet feed</li>
    <li>Keep packages on a network share</li>
</ul>

<h3>Where does Boxstarter look for Packages</h3>
<p>Boxstarter can be configured to look anywhere for packages. By default, Boxstarter checks the following locations in this order:</p>
<ul>
    <li>The Boxstarter Local Repository <code>$Boxstarter.LocalRepo</code> where packages are saved using <code>New-BoxstarterPackage</code></li>
    <li>The <a href="https://chocolatey.org/packages">Chocolatey.org</a> public feed</li>
</ul>
<p>The first location that contains a package name that Boxstarter is looking for will be the last location Boxstarter probes. So, for example, if the local repository and the Chocolatey community feed have a package with the same name, the package in the local repository will be chosen.</p>
<h3>Configuring where Boxstarter looks for packages</h3>
<p>You can change the directory that Boxstarter considers the local repository or change the feeds that Boxstarter searches using the <code>Set-BoxstarterConfig</code> command.</p>
<pre>
Set-BoxstarterConfig -LocalRepo "\\server\share\myRepo"
</pre>
<p>This will cause Boxstarter to search for packages in \\server\share\myRepo</p>
<pre>
Set-BoxstarterConfig -NugetSources "https://www.myget.org/F/MyNugetFeed/api/v2"
</pre>
<p>This will cause Boxstarter to search for packages in the local repository and then in your MyNugetFeed hosted by MyGet.org. No other feed will be searched.</p>
<pre>
Set-BoxstarterConfig -NugetSources "https://www.myget.org/F/MyNugetFeed/api/v2;https://chocolatey.org/api/v2"
</pre>
<p>This will cause Boxstarter to search for packages in the local repository and then in your MyNugetFeed followed by the Chocolatey.org feed.</p>

<h3>Pushing packages to a feed</h3>
<p>Boxstarter does not provide any functionality for publishing packages to a NuGet feed. However, you can use NuGet.exe which does provide this capability. You can obtain the NuGet.exe command line interface by installing the nuget.commandline package. Calling the NuGet command line with the <a href="https://docs.nuget.org/docs/reference/command-line-reference#Push_Command">Push</a> command and the feed URL will publish your package to that feed.</p>
<pre>
nuget push MyPackage.1.0.0.nupkg &lt;Your MyGet API Key&gt; -Source https://www.myget.org/F/MyFeed/api/v2/package
</pre>
<p>If you want to publish to the Chocolatey community feed, Chocolatey has a command, <a href="https://github.com/chocolatey/choco/wiki/CommandsPush">choco push</a>, which will publish your package to Chocolatey without needing to specify the feed URL.</p>
<pre>
cpush MyPackage.1.0.0.nupkg &lt;Your Chocolatey API Key&gt;
</pre>
<p>All NuGet feed hosts require package authors to provide a key when publishing packages. This identifies you as the actual package owner. See the host's documentation for information on how to obtain a key.</p>
