@{
    Layout = "~/_ContentLayout.cshtml";
}

@section headerBody {
    <h1>Testing Packages</h1>
    <p class="lead">Boxstarter can detect which packages have changed and test their installations on one or more deployment targets. Boxstarter can automate publishing successful packages to their feed.</p>
}

