@{
    Layout = "~/_ContentLayout.cshtml";
}

@section headerBody {
    <h1>Installing packages on a Virtual Machine</h1>
    <p class="lead">Boxstarter provides convenient integration with both <a href="#HyperV">Hyper-V</a> and <a href="#azure">Windows Azure</a> Virtual Machines with support for auto configuration of remote connectivity as well as setting and restoring checkpoints. Of course Boxstarter can run on any VM guest as long as PowerShell remoting is enabled. 
}
<h2 id="HyperV">Hyper-V</h2>
<h3>Limitations and Prerequisites</h3>
<p>Boxstarter's Hyper-V support is limited to:</p>
<ul>
    <li>PowerShell Version 3 Hyper-V Hosts and above. This is automatically installed on Windows 8, 8.1 and Server 2012 and 2012 R2. Windows Server 2008 R2 can be upgraded to Version 3 (or 4) by installing version 3 or 4 of the <a href="http://www.microsoft.com/en-us/download/details.aspx?id=34595">Windows Management Framework</a>.</li>
    <li>Microsoft's Hyper-V virtualization technology comes with Windows Server and also the Windows client operating systems 8 and 8.1 professional and enterprise. It cannot be installed on Home editions of Windows 8 or on any version of Windows 7.</li>
    <li>If Boxstarter determines that configuration is necessary for PowerShell Remoting, the VHD file of the VM must be accessible and writable to the user issuing the <code>Enable-BoxstarterVM</code> command.</li>
    <li>Boxstarter's Hyper-V commands must be run on the Hyper-V host machine.</li>
    <li>Hyper-V Guests are subject to the same limitations as any other Boxstarter installation environment: PowerShell v2, .net 4, and OS's Windows 7/Server 2008 R2 and higher.</li>
</ul>

<h3>Automatic configuration of Hyper-V guest instances</h3>
<p>Boxstarter will configure PowerShell Remoting on the Hyper-V guest if it finds that it is not enabled already. The amount of configuration depends on the environment. If web services management (WSMAN) or WMI ports are already enabled and a built-in administrator or domain credential is being used, Boxstarter should not need to perform any special configuration above that done by <code>Install-BoxstarterPackage</code>. Boxstarter can enable PowerShell Remoting from a WMI method call. If WSMAN or WMI are not open (by default they are not enabled on client versions of windows) or if the credential being used is a local user other than the built-in administrator, Boxstarter will shut down the VM, mount its VHD, and make a couple small changes to the Windows registry to either enable WMI, enable the LocalAccountTokenFilterPolicy, or both.</p>
<pre>
$cred=Get-Credential domain\username
Enable-BoxstarterVM -VMName myVM -Credential $cred
</pre>
<p>This will perform any of the configuration mentioned above if necessary and return a <code>BoxstarterConnectionConfig</code> object holding the DNS name of the guest machine and the Credential passed to the command.</p> 
<p>This object can be piped to Boxstarter's Install-BoxstarterPackage command.</p>
<pre>
$cred=Get-Credential domain\username
"myVM1","myVM2" |
  Enable-BoxstarterVM -Credential $cred | 
    Install-BoxstarterPackage -PackageName myPackage
</pre>
<p>This installs myPackage on myVM1 and myVM2 after ensuring that both are properly configured for a remote install.</p>

<h3>Checkpoints</h3>
<p>The <code>Enable-BoxstarterVM</code> command can take a CheckpointName parameter. If this checkpoint exists, Boxstarter will restore the VM to this checkpoint before performing any action. If the checkpoint does not exist, Boxstarter will create a new Checkpoint after any configurations have been made.</p>
<p>This is particularly useful when you want to restore a machine to a known state before performing an installation.</p>
<pre>
$cred=Get-Credential domain\username
Enable-BoxstarterVM -VMName myVM1 -Credential $cred -CheckPointName BareOS | 
    Install-BoxstarterPackage -PackageName myPackage
</pre>
<p>This resets the VM to its BareOS state before Installing the myPackage package.</p>
<h3>What about creating New VMs with Boxstarter?</h3>
<p>I considered adding a New-BoxstarterVM command but the fact is that Microsoft's own Hyper-V PowerShell module does a fine job of making this easy. This is typically a task that is not done nearly as frequently as tearing down and reseting an existing VM so it did not seem like a feature much worth the effort. To demonstrate how you would setup a New Hyper-V VM. You could use a script like this:</p>
<pre>
New-VMSwitch -NetAdapterInterfaceDescription "Intel(R) Centrino(R) Advanced-N 6205" -Name MySwitch
New-VM -Name "myVM" -MemoryStartupBytes 1GB -SwitchName MySwitch -VHDPath "C:\Users\Matt\Downloads\Windows Server 2008 R2 Enterprise Evaluation (Full Edition).vhd"
Start-VM "myVM"
</pre>
<p>That's pretty simple. This creates a virtual switch that binds to our network adapter. Your adapter might be named differently. Run <code>Get-NetAdapter</code> to get a list of your adapters. Then create the VM and attach it to a VHD and the switch you just created. Now you have a VM with Windows Server 2008 R2 connected to the Internet. There are a ton of other useful commands. Run <code>Get-Command -Module Hyper-V</code> to see them all. They are all well documented. For example, to view the documentation on the <code>Add-VMDvdDrive</code> command, run:</p>
<pre>
Get-Help Add-VMDvdDrive -Full
</pre>
<p>If for some reason you cannot find the Hyper-V module on your machine (it's supported with Windows PowerShell 4), you may need to enable the feature:</p>
<pre>
Install-WindowsFeature -name hyper-v -IncludeManagementTools
</pre>
<h3>Download a free evaluation edition Windows VHD</h3>
<p>You don't need a purchased copy of Windows or a fancy shmancy MSDN subscription to test out Boxstarter Installs on a VM. Microsoft provides evaluation copies of many of its OS versions on VHD that can be used for a limited number of days (usually 90). You can legally reinstall a new copy when the evaluation expires. While this is unfit for a production environment, its a great way to test your Boxstarter or Chocolatey installs.</p>
<p>Here are links to free Windows evaluation VHDs:</p>
<ul>
    <li><a href="http://technet.microsoft.com/en-US/evalcenter/hh699156.aspx?ocid=wc-tn-wctc">Windows 8.1</a></li>
    <li><a href="http://www.microsoft.com/en-us/download/details.aspx?id=16572">Windows 2008 R2</a></li>
    <li><a href="http://technet.microsoft.com/en-us/evalcenter/dn205286.aspx">Windows 2012 R2</a></li>
</ul>

<h2 id="azure">Windows Azure VMs</h2>

<h3>Prerequisites</h3>
<p>Boxstarter's Windows Azure VM support is limited to:</p>
<ul>
    <li>PowerShell Version 3 or above. Boxstarter leverages the Windows Azure Powershell toolkit which requires at least Powershell version 3. This is automatically installed on Windows 8, 8.1 and Server 2012 and 2012 R2. Windows 7 and Server 2008 R2 can be upgraded to Version 3 (or 4) by installing version 3 or 4 of the <a href="http://www.microsoft.com/en-us/download/details.aspx?id=34595">Windows Management Framework</a>.</li>
    <li>The default Powershell remoting and endpoints that Azure creates on new VMs mus be present. By default, Windows azure enables Powershell remoting on all Windows VMs and it creates an endpoint that maps to the WINRM secure port.</li>
</ul>

<h3>Installing the Boxstarter.Azure module</h3>
<p>The Boxstarter.Azure module does not automatically install with the main Boxstarter install package, but just a single Chocolatey command can accomplish this.</p>
<pre>CINST Boxstarter.Azure</pre>
<p>This will install the Boxstarter.Azure module and all of its prerequisites: Windows Azure Powershell, Windows Azure SDK for .Net Libraries, and the .Net Framework v4.5.</p>
<h3>One time configuration of Azure subscription information</h3>
<p>Before Windows Azure Powershell can begin to manage your VMs, it needs your account information as well as authentication verification. This is incredibly easy to setup and involves just three commands:</p>
<pre>Get-AzurePublishSettingsFile</pre>
<p>This command will launch your default browser and initiate a Publisher Settings download. First you will land on the Windows Azure sign in page and as soon as you succesfully authenticate, the download will begin.</p>
<img src="images\publishAzure.png" />
<p>Now simply import the file just downloaded:</p>
<pre>Import-AzurePublishSettingsFile -PublishSettingsFile C:\Users\Matt\Downloads\Subscription-1-1-19-2014-credentials.publishsettings</pre>
<p>Finally, specify the name of the storage account you want to use. You can run <code>Get-AzureStorageAccount</code> for a list of all of your storage accounts.</p>
<pre>Set-AzureSubscription -SubscriptionName MySubscription -CurrentStorageAccountName MyStorageAccount</pre>
<p>Note: Boxstarter will attempt to set your Current Storage Account for you if it has not been specified. However, you will need to run the command yourself if you need to run other Windows Azure Powershell commands prior to using Boxstarter.</p>
<p>Thats it. You can now use the Windows Azure Powershell and Boxstarter commands to provision VMs in Azure.</p>
<h3>Creating an Azure VM</h3>
<p>Creating Azure VMs is simple. You can either use the Azure portal or Powershell. Since the Boxstarter.Azure module also loads the Windows Azure Powershell module, all of the Azure Powershell commands are available in the Boxstarter Shell. The easiest way to create new VMs using powershell is with the <code>New-AzureQuickVM</code> command:</p>
<pre>
$cred=Get-Credential AzureAdmin
New-AzureQuickVM -ServiceName MyService -Windows -Name MyVM `
  -ImageName 3a50f22b388a4ff7ab41029918570fa6__Windows-Server-2012-Essentials-20131217-enus `
  -Password $cred.GetNetworkCredential().Password -AdminUsername $cred.UserName `
  -Location "West US" -WaitForBoot
</pre>
<p>This creates a small Windows Server 2012 R2 VM located in the West US region and will wait for the VM to complete its boot sequence. Note: If the Service Name already exists, do not include the <code>-Location</code> argument since the VM will be created in the location that service is configured for. To find out what all of the Location options are, use the <code>Get-AzureLocation</code> command.</p>
<p>While this example uses a Windows Server 2012 R2 image, you can use any of the images in the Azure gallery or even images you have created yourself. Use <code>Get-AzureVMImage</code> for information on all of the images available.</p>
<p>The Azure powershell commnds are very useful. Use <code>Get-Command -Module Azure</code> to find all commands available in the Windows Azure Powershell module. All comands include the customary powershell command line help. Simply run <code>Get-Help [Command Name] -Full</code> to view the full documentation of a command.</p>
<h3>Provisioning your Windows Azure VM</h3>

<p>Boxstarter will locate the VMs PowerShell remoting Connection URI and install the VMs certificate on the local machine which will enable a SSL connection to be established so that Boxstarter can install your package on the VM. Here is an example:</p>
<pre>
$cred=Get-Credential AzureAdmin
"myVM1","myVM2" |
  Enable-BoxstarterVM -provider Azure -CloudServiceName MyService -Credential $cred | 
    Install-BoxstarterPackage -PackageName myPackage
</pre>
<p>This installs myPackage on myVM1 and myVM2.</p>

<h3>Checkpoints</h3>
<p>Just like with the HyperV provider, the <code>Enable-BoxstarterVM</code> command can take a CheckpointName parameter. If this checkpoint exists, Boxstarter will restore the VM to this checkpoint before performing any action. If the checkpoint does not exist, Boxstarter will create a new Checkpoint before installing any packages.</p>

<p>This is particularly useful when you want to restore a machine to a known state before performing an installation.</p>
<pre>
$cred=Get-Credential domain\username
Enable-BoxstarterVM -Provider azure -CloudServiceName MyService `
  -VMName myVM1 -Credential $cred -CheckPointName BareOS | 
    Install-BoxstarterPackage -PackageName myPackage
</pre>
<p>This resets the VM to its BareOS state before Installing the myPackage package.</p>
<p>Boxstarter leverages Azure Blob snapshots to support this checkpointing functionality. Note that the checkpoints are not visible in the Azure portal. However, if you would like to manage these checkpoints, Boxstarter exposes the following commands:</p>
<ul>
    <li>Get-AzureVMCheckpoint</li>
    <li>Set-AzureVMCheckpoint</li>
    <li>Restore-AzureVMCheckpoint</li>
    <li>Remove-AzureVMCheckpoint</li>
</ul>
<p>All commands take a <code>-VM</code> and a <code>-CheckpointName</code> parameter.</p>
<p>For example, to create or reset a checkpoint:</p>
<pre>
$vm=Get-AzureVM -ServiceName MyService -Name MyVM
Set-AzureVMCheckpoint -VM $vm -CheckpointName BareOS
</pre>
<p>Now the BareOS checkpoint resembles the current state of the MyVM VM.</p>
<p>To list all checkpoints of a VM, you can omit the CheckpointName parameter of <code>Get-AzureVMCheckpoint</code>:</p>
<pre>
$vm=Get-AzureVM -ServiceName MyService -Name MyVM
Get-AzureVMCheckpoint -VM $vm
</pre>

<h2>Working with other virtualization technologies</h2>
<p>Boxstarter will very soon provide support for AWS VMs. However, Boxstarter can work with any VM provider using <cose>Install-BoxstarterPackage</cose> as long as the VM has powershell remoting enabled and the VM's DNS name is accesible on the network. For "On Premise" VM providers, if they support the VHD file format, you can use the <code>Enable-BoxstarterVHD</code> command to enable WMI, LocalAccountTokenFilterPolicy and retrieve the computer name of the VM running the VHD. The VHD must be accessible and writable to the user issuing the command and it must contain the system volume (the drive with the Windows folder) of the VM.</p>
<pre>
Enable-BoxstarterVHD -VHDPath "C:\Virtual hard disks\win81diff_F2AE6535-2532-455F-8E5A-0211595221F8.avhdx"
</pre>
<p>This will mount the VHD provided in the VHDPath, enable the WMI Firewall ports and enable LocalAccountTokenFilterPolicy in the Windows registry stored in the VHD.</p>
<p>NOTE: Although The parameter is explicitly referred to as <code>VHDPath</code>, any valid VHD file extension is accepted. The above example uses a differencing disk, but is valid since that is the primary hard drive of a guest VM.</p>

<h3>Troubleshooting Boxstarter VM Installs</h3>
<h4>General Connectivity</h4>
<p>Boxstarter makes a best effort attempt to test and configure your VM for remote installation. However, every environment is different and may include slightly tweaked configurations that Boxstarter cannot anticipate. Especially if you are inside a domain environment, there may be various group policies in place that edit various settings and permission levels that will cause a Boxstarter install to fail. Almost all of these scenarios can be corrected for and over time, Boxstarter should improve at compensating for these nuances.</p>

<p>The first thing to do if Boxstarter is unable to reach the VM is to run:</p>
<pre>Enable-PSRemoting -Force</pre>
<p>on the VM. This will most often put the machine in a state where it can accept remote sessions from Boxstarter.</p>
<h4>Have you lost your domain trust relationship?</h4>
<p>In a domain environment, it is possible that over time a VM may lose its trust relationship with the Domain Controller especially if you revert to a snapshot that has an expired machine password. When this happens things stop authenticating correctly and often remote communication sessions are denied. It is not always obvious that this is the problem. Usually you can tell by examining the Network Adapter on the VM and it states that it is Unauthenticated. The most reliable fix for this is to unjoin the domain and then rejoin.</p>