@{
    Layout = "~/_ContentLayout.cshtml";
}

@section headerBody {
    <h1>Boxstarter WinConfig Features</h1>
    <p class="lead">Boxstarter provides several commands for customizing the Windows experience</p>
}
<p>Below are the commands that Boxstarter makes available to all packages run from within Boxstarter:</p>
<h3>Disable-InternetExplorerESC</h3>
<p>Turns off Internet Explorer Enhanced Security Configuration that is on by default on Server OS versions.</p>

<h3>Disable-GameBarTips</h3>
<p>Turns off the GameBar Tips of Windows 10 that are shown when a game - or what Windows 10 thinks is a game - is launched.</p>

<h3>Disable-MicrosoftUpdate</h3>
<p>Turns off the Windows Update option to include updates for other Microsoft products installed on the system.</p>

<h3>Disable-UAC</h3>
<p>Disables UAC. Note that Windows 8 and 8.1 can not launch Windows Store applications with UAC disabled.</p>

<h3>Disable-BingSearch</h3>
<p>Disables the Bing Internet Search when searching from the search field in the Taskbar or Start Menu.</p>

<h3>Enable-RemoteDesktop</h3>
<p>Allows Remote Desktop access to machine and enables Remote Desktop firewall rule.</p>

<h3>Enable-MicrosoftUpdate</h3>
<p>Turns on the Windows Update option to include updates for other Microsoft products installed on the system.</p>

<h3>Enable-UAC</h3>
<p>Enables UAC.</p>

<h3>Install-WindowsUpdate</h3>
<p>Finds, downloads and installs all Windows Updates. By default, only critical updates will be searched. However the command takes a <code>-Criteria</code> argument allowing one to pass a custom Windows Update query.</p>
<p>For details about the <code>Install-WindowsUpdate</code> command, run:</p>
<pre>Help Install-WindowsUpdate -Full</pre>

<h3>Move-LibraryDirectory</h3>
<p>Libraries are special folders that map to a specific location on disk. These are usually found somewhere under $env:userprofile. This function can be used to redirect the library folder to a new location on disk. If the new location does not already exist, the directory will be created. Any content in the former library directory will be moved to the new location unless the DoNotMoveOldContent switch is used. Use Get-LibraryNames to discover the names of different libraries and their current physical directories.</p>

<pre>
Move-LibraryDirectory "Personal" "$env:UserProfile\skydrive\documents"
</pre>
<p>This moves the Personal library (aka Documents) to the documents folder off of the default SkyDrive directory.</p>

<h3>Set-StartScreenOptions</h3>
<p>Sets options for the Start Screen in Windows 8/8.1</p>
<pre>
Set-StartScreenOptions -EnableBootToDesktop -EnableDesktopBackgroundOnStart -EnableShowStartOnActiveScreen -EnableShowAppsViewOnStartScreen -EnableSearchEverywhereInAppsView -EnableListDesktopAppsFirst
</pre>
<p>It is also possible to do the converse actions, if required.</p>
<pre>
Set-StartScreenOptions -DisableBootToDesktop -DisableDesktopBackgroundOnStart -DisableShowStartOnActiveScreen -DisableShowAppsViewOnStartScreen -DisableSearchEverywhereInAppsView -DisableListDesktopAppsFirst
</pre>

<h3>Set-CornerNavigationOptions</h3>
<p>Sets options for the Windows Corner Navigation in Windows 8/8.1</p>
<pre>
Set-CornerNavigationOptions -EnableUpperRightCornerShowCharms -EnableUpperLeftCornerSwitchApps -EnableUsePowerShellOnWinX
</pre>
<p>It is also possible to do the converse actions, if required.</p>
<pre>
Set-CornerNavigationOptions -DisableUpperRightCornerShowCharms -DisableUpperLeftCornerSwitchApps -DisableUsePowerShellOnWinX
</pre>

<h3>Set-WindowsExplorerOptions</h3>
<p>Sets options on the Windows Explorer shell</p>
<pre>
Set-WindowsExplorerOptions -EnableShowHiddenFilesFoldersDrives -EnableShowProtectedOSFiles -EnableShowFileExtensions -EnableShowFullPathInTitleBar -EnableOpenFileExplorerToQuickAccess -EnableShowRecentFilesInQuickAccess -EnableShowFrequentFoldersInQuickAccess -EnableExpandToOpenFolder -EnableShowRibbon -EnableItemCheckBox
</pre>
<p>It is also possible to do the converse actions, if required.</p>
<pre>
Set-WindowsExplorerOptions -DisableShowHiddenFilesFoldersDrives -DisableShowProtectedOSFiles -DisableShowFileExtensions -DisableShowFullPathInTitleBar -DisableOpenFileExplorerToQuickAccess -DisableShowRecentFilesInQuickAccess -DisableShowFrequentFoldersInQuickAccess -DisableExpandToOpenFolder -DisableShowRibbon -DisableItemCheckBox
</pre>

<h3>Set-BoxstarterTaskbarOptions</h3>
<p>Sets options on the Windows Taskbar (formerly called Set-TaskbarOptions)</p>
<p>AlwaysShowIconsOn/AlwaysShowIconsOff allows turning on or off always showing all icons in the notification area.</p>
<pre>
Set-BoxstarterTaskbarOptions -Size Small -Dock Top -Combine Always -AlwaysShowIconsOn -MultiMonitorOn -MultiMonitorMode All -MultiMonitorCombine Always -EnableSearchBox
</pre>
<p>It is also possible to do the converse actions, if required.</p>
<pre>
Set-BoxstarterTaskbarOptions -Size Large -Dock Bottom -Combine Never -AlwaysShowIconsOff -MultiMonitorOff -DisableSearchBox
</pre>

<h3>Update-ExecutionPolicy</h3>
<p>The execution policy is set in a separate elevated PowerShell process. If running in the Chocolatey runner, the current window cannot be used because its execution policy has been explicitly set.</p>

<p>If on a 64 bit machine, the policy will be set for both 64 and 32 bit shells.</p>
